<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
    {{>header}}
    <p>
        This site was created by Karthik Kumar Matam. It uses data from other websites.
    </p>
    <h1> About From Dynamic Page</h1>
</body>
</html>